{% set gloss = shortcode.getParameter('gloss', true) %}
<div class="polaroid-wrapper {{ shortcode.getParameter('position', 'right') }}" style="margin:{{ shortcode.getParameter('margin', '30px') }};">
    <div class="polaroid" style="transform: rotate({{ shortcode.getParameter('angle', 3) }}deg);">
        <div class="polaroid-img">
            {% if gloss is sameas(true) %}
            <div class="gloss"></div>
            {% endif %}
            {{ shortcode.getContent()|raw }}
        </div>
        <p>{{ shortcode.getParameter('title') }}</p>
    </div>
</div>