<div class="tabs-wrapper ui-theme-{{ theme }} {{ position }}">
    <ul class="tabs-nav">
    {% for key,tab in child_tabs %}
        {% set class = key == active ? ' class="current"' %}
        <li{{ class|raw }}><a href="#{{ hash ~ key }}" id="{{ tab.getParameter('id', 'Tab'~key) }}" rel="tab">{{ tab.getParameter('title', 'Tab '~key) }}</a></li>
    {% endfor %}
    </ul>
    <div class="tabs">
    {% for key,tab in child_tabs %}
        <div class="tab" id="{{ hash ~ key }}" style="display: {{ key == active ? 'block' : 'none' }}">{{ tab.getContent()|raw }}</div>
    {% endfor %}
    </div>
</div>
